p
  | Привет, #{@resource.email}!
p Кто-то запросил ссылку, чтобы изменить пароль. Вы можете сделать это по ссылке ниже.
p = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
p Если вы не запрашивали этого, не обращайте внимания на это письмо.
